{# index.html #}
{# Main page template for soundboard #}
{# Last modified: 12/28/2021 #}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>wgarrity.com Soundboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{% static 'soundboard/css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'soundboard/css/main-page.css' %}" />
</head>
<body>

<header>
    Soundboards
</header>

<main>

    {% for category in soundboard_categories %}
    <!-- Soundboard category -->
    <div class="category">
        <div class="category_heading">{{ category.category_name }}</div>

        <div class="soundboards">
            {% for soundboard in category.soundboard_set.all %}
                <!-- Soundboard entry -->
                <div class="soundboard_entry">
                    <div class="soundboard_image" style="background-image: url('{{ soundboard.soundboard_image.url }}')"></div>
                    <div class="soundboard_name">{{ soundboard.soundboard_name }}</div>
                    <div class="soundboard_description">{{ soundboard.soundboard_description }}</div>
                    <div class="soundboard_button"><a href="{{ soundboard.id }}/">Open</a></div>
                </div>
            {% endfor %}

        </div>
    </div>
    {% endfor %}
    
</main>    

<footer>
    <div class="created-by">Created by William Garrity</div>
    <div class="links">
        <a href="https://wgarrity.com" style="float: left">Back to wgarrity.com</a>
        <a href="https://github.com/wgarrity-1" style="float: right">Github</a>
    </div>
</footer>
    
</body>
</html>